.main{
    background-image: url('../logo/b5.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}

h4 {
    text-align: center;
}

.search-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-button {
    padding-left: 10px;
    padding-right: 10px;
}

.back{
    color: white;
}

.word{
    text-align: center;
    color: white;
}