.personal-title{
    padding-top: 3%;
    height: 125px;
    font-size: 50px;
    margin-left:20%;
}

.personal-information{
    padding-top: 2%;
    width: 50%;
    margin-left:20%;
}

.personal-modif{
    margin-left:20%;
    margin-top: 2%;
}
.personalhistory{
    border-color: black;
    border:0.5px solid;
    border-radius: 5px;
}